nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #090942;
  color: #fff;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
}

/* ============= Small Devices ================== */

@media screen and (max-width: 600px) {
  nav h2{
    font-size: 1rem;
  }

  .nav-items h3{
    font-size: 0.9rem;
  }
}
