<div class="container">
  <h1>{{ title }}</h1>
  <p>
    In this game, you have to guess a 4-digit secret numebr, in which each digit
    is unique. for each guess, you will be given a hint: if your guess contains
    a digit which is present in the secret number, in the same location, The
    hint will include a '+' charachter (or more, if relevant). if your if your
    guess contains a digit which is present in the secret number, but in a
    different location, The hint will include a '-' charachter (or more, if
    relevant). You can try as many times as you want, and your score will depend
    on the time it took you, and the number of tries.
  </p>
  <p>
    Once you succeed, your results wil be added to the scores list. You can see
    the list anytime by clicking the link above.
  </p>
  <h2>Good Luck!</h2>
</div>
